body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    color: black;
    font-size: 14px;
    float: center;
}

.contenedor{
    display:inline-block;
    text-align: center;
    height: auto;
    width: 43%;
    padding: 1em;
}

.principal{
    background-color: aquamarine;
    margin: auto;
    margin-top: 1.5em;
    width:  1100px;
    height: 700px;
    box-shadow: 1px 1px 10px black;
    border-radius: 1em;
}

.formularios{
    display: inline-block;
    width: 47%;
    height: 600px;
    margin-left: 1em;
    margin-right: 1em;

}

.botones{
    margin: auto;
    margin-top: 1em;
    text-align: center;
}

.pie{
    text-align: center;
}

h1{
    text-align: center;
    
}

h3{
    display: flex;
    margin-left: 1em;
}